* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body{
  max-width: 800px;
  width: 75%;
  min-height: 500px;
  height: 75%;
  border: 1px dotted black;
  margin: 1vw;
  background-color: rgb(177, 240, 219);
}

.grid{
  display: grid;
  border: 0.5rem solid black;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}